/*root*/
:root {
    --c-background: #eff6ff;
    --c-base-text: #2A4A5C;
    --c-fb: #255A9B;
    --c-in: #0076b6;
    --c-blue: #3698FB;
    --c-grey-1: #7B8A92;
    --c-grey-2: #96A5B1;
    --c-grey-3: #AFAFAF;
    --c-grey-4: #EEEEEE;
    --c-white: #FFFFFF;
    --ff: 'barlow', sans-serif;
}

body {
    font-family: var(--ff), sans-serif;
    background-color: var(--c-background);
    
}

.container {
    background-color: var(--c-white);
    align-items: center;
    
}

img {
    display: block;
    max-width: 100%;
    margin-inline: auto;
}


.facebook {
    background-color: var(--c-fb);
    color: var(--c-white);
}

.linkedin {
    background-color: var(--c-in);
    color: var(--c-white);
}

.create-account {
    background-color: var(--c-blue);
    color: var(--c-white);
}

/*text styles*/

.title-1, .title-2, .subtitle-1, .subtitle-2 {
    color: var(--c-base-text);

}


/*elements general layout */

.flex {
    display: flex;
    align-items: center;
}


/*layout*/

.wrapper {
    
    justify-content: center;
    height: 100dvh;
}

.container {
    max-width: 60em;

}



/*general styles*/

.form-text {
    padding: 4rem;
}

.form-text > * {
    margin-top: 1.5rem;
}

.picture {
    position: relative;
}

.img1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2rem;
    margin-top: 1rem;
    
}

.img2 {
    width: 100%;
    height: auto;
}

.email-phone {
    gap: 0.5cap;
}

.email-phone input {
    border: 2px solid red;
}




/*media query*/

@media (max-width: 800px) {
    .container {
        text-align: center;
        flex-direction: column;
    }
}
