/*root*/
:root {
    --c-background: #eff6ff;
    --c-base-text: #2A4A5C;
    --c-fb: #255A9B;
    --c-in: #0076b6;
    --c-blue: #3698FB;
    --c-grey-1: #7B8A92;
    --c-grey-2: #96A5B1;
    --c-grey-3: #AFAFAF;
    --c-grey-4: #EEEEEE;
    --c-white: #FFFFFF;
    --ff: 'barlow', sans-serif;
}

body {
    font-family: var(--ff), sans-serif;
    background-color: var(--c-background);
    
}

.container {
    background-color: var(--c-white);
    align-items: center;
}


.facebook {
    background-color: var(--c-fb);
    color: var(--c-white);
}

.linkedin {
    background-color: var(--c-in);
    color: var(--c-white);
}

.create-account {
    background-color: var(--c-blue);
    color: var(--c-white);
}

/*text styles*/

.title-1, .title-2, .subtitle-1, .subtitle-2 {
    color: var(--c-base-text);

}


/*layout*/

.wrapper {
    justify-content: center;
    min-height: 100dvh;
}


/*general styles*/

.iintoo-img {
    position: relative;
}

.iintoo-img::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}
    
